/* @import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Alegreya Sans", sans-serif; */
  font-family: var(--vscode-font-family);
  font-size: 15px !important;
}

body {
  /* background: #343541; */
  background-color: var(--vscode-editor-background);
}

#app {
  /* width: 100vw; */
  height: 100vh;
  /* background: #343541; */
  background-color: var(--vscode-editor-background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 5px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 10px;
  scroll-behavior: smooth;
}

#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414f;
  /* background-color: var(--vscode-editor-background); */
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436da;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  /* width: 60%;
  height: 60%;
  object-fit: contain; */
}

.message {
  flex: 1;

  /* color: #dcdcdc; */
  /* font-size: 20px; */

  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 100%;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 10px;
  /* background: #40414f; */
  background-color: var(--vscode-editor-background);

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 20;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  /* background: transparent; */
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
}

form img {
  width: 30px;
  height: 30px;
}

form button {
  padding: 0;
  /* width: 30px;
  height: 30px; */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px !important;
}

.header-text {
  font-size: 18px !important;
}

/* .w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
} */
/* .w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
} */
/* .w-50 {
  width: 50%;
} */

.params {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  width: 350px;
}

.delete-token {
  display: flex;
  justify-content: center;
}

.select-model {
  width: 150px !important;
}
